/* <-------ABOUT US-------> */
.about__us {
    margin: 100px 200px 0 193px;
  }
  .about__us__title {
    width: 351px;
    font-family: 'Mont-Bold', Roboto;
    font-weight: 800;
    font-size: 25px;
    color: #03002b;
    margin: 0 0 40px 0;
  }
  
  .about__us__box {
    width: 326px;
    height: 484px;
    background: linear-gradient(
      180deg,
      #cecece -87.93%,
      rgba(255, 255, 255, 0) 100%
    );
    margin: 0px 8px 0px 0;
  }
  
  .about__us__arrows {
    position: relative;
    top: 200px;
    right: -10px;
    width: 30px;
  }
  
  .about__us__arrows img {
    margin: 0 0 10px 0px;
    width: 30px;
  }
  
  
  .about__us__box__inside {
    padding: 29px 0 0 32px;
  }
  
  .about__us__box__inside i {
    font-weight: 200;
    font-style: normal;
  }
  
  .about__us__box__inside__name {
    font-family: 'Mont-Bold', Roboto;
    font-size: 19px;
    margin: 0;
  }
  .about__us__box__inside__text {
    font-family: Judson;
    font-style: normal;
    font-weight: normal;
    width: 275px;
    font-size: 17px;
    line-height: 152.3%;
    letter-spacing: -0.03em;
    color: #000000;
  }
  
  .about__us__box__inside__profesion {
    color: #4f4f4f;
  }
  .about__us__focus__hero{
    height: 256px;
    background-image: linear-gradient(to bottom, #1c1b5200, #03002bd6),
      url(../../static/images/img/hero-about-us.png);
    background-size: cover;
    margin: 0;
  }

  .about__us__focus__future{
    margin: 50px 200px 50px 200px;
  }

  .about__us__focus__future__img{
    width: 161px;
    height: 161px;
    margin: 30px 35px 0 0;
  }

  .about__us__focus__future__title{
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 113.3%;
    letter-spacing: -0.03em;
    color: #03002B;
    margin: 50px 0 0 0;
  }

  .about__us__focus__future__text{
    font-family: Judson;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 152.3%;
    color: #000000;
    margin: 50px 0 50px 0px;
  }

  .about__us__focus__map{
    background: linear-gradient(180deg, #CECECE -87.93%, rgba(255, 255, 255, 0) 100%);
  }

  .about__us__focus__map__inside{
    margin: 0px 0px 10px 200px;
  }

  .about__us__focus__map__inside__img{
    margin: 100px 0 31px 0;
  }

  .about__us__focus__map__inside__title{
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 33px;
    line-height: 114.3%;
    letter-spacing: -0.02em;
    color: #03002B;
  }

  .about__us__focus__map__inside__number{
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 900;
    font-size: 61px;
    line-height: 114.3%;
    letter-spacing: -0.02em;
    color: #03002B;
    margin: 0;
  }

  .about__us__focus__map__inside__box{
    margin: 0px 40px 0 0px;
  }

  .about__us__focus__map__inside__data{
    margin: 0;
  }

  .about__us__focus__map__inside__data__text{
    margin: 0 0 0 10px;
  }
  
  .about__us__focus__map__inside__data__geo{
    position: relative;
    right: 100px;
  }

  .about__us__focus__knowledge{
    margin: 30px 200px 40px 200px;
  }

  .about__us__focus__knowledge img{
    width: 155px;
    height: 124px;
  }

  .about__us__focus__knowledge__text{
    margin: 0 0px 0px 60px;
    width: 640px;
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 33px;
    line-height: 114.3%;
    letter-spacing: -0.02em;
    color: #03002B;
  }

  .about__us__focus__tweets{
    margin: 50px 200px 50px 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px 20px;
  }

  .about__us__focus__tweets__box{
    width: 311px;
    height: 241px;
    background: #F2F2F2;
    box-shadow: 0px 0px 6px rgba(13, 0, 86, 0.2);
    border-radius: 7px;
    padding: 0;
    margin: 50px 0 50px 0px;
  }

  .about__us__focus__tweets__box__inside{
    margin: 14px 25px 19px 29px;
  }

  .about__us__focus__tweets__box__img{
    width: 38px;
    height: 38px;
    margin: 0px 10px 0 0px;
  }

  .about__us__focus__tweets__box__inside__time{
    left: 233px;
    font-family: 'Mont-Light';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 114.3%;
    letter-spacing: -0.02em;
    color: #4F4F4F;
  }

  .about__us__focus__tweets__box__inside__name{
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 114.3%;
    letter-spacing: -0.02em;
    color: #000000;
    margin: 0;
  }

  .about__us__focus__tweets__box__inside__nick{
    font-family: 'Mont-Light';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 114.3%;
    letter-spacing: -0.02em;
    color: #000000;
  }

  .about__us__focus__tweets__box__inside__logo{
    margin: 0 0 0 90px;
  }

  .about__us__focus__tweets__box__inside__link{
    width: 204px;
    font-family: 'Mont-Light';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 114.3%;
    letter-spacing: -0.02em;
    color: #3E92CC;
    margin: 10px 30px 0 0px;
  }

  .about__us__focus__tweets__box__inside hr{
    width: 310px;
    height: 0px;
    border: 1px solid #E0E0E0;
    position: relative;
    left: -30px;
  }

  .about__us__focus__tweets__box__inside__text{
    width: 246px;
    font-family: Judson;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 148.3%;
    letter-spacing: -0.02em;
    color: #828282;
  }

  .about__us__focus__tweets__box__inside__arrow{
    margin: 0px 0 -10px 0;
  }
  
  .about__us__focus__phrase{
    margin: 80px 200px 150px 100px;
  }

  .about__us__focus__phrase__title{
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 114.3%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #03002B;

  }

  .about__us__focus__phrase__inside{
    position: relative;
    left: 50%;
    transform: translate(-45%, -10%);
  }

  .about__us__focus__phrase__img{
    position: relative;
    left: 50%;
    transform: translate(-45%, -10%);
  }

  .about__us__focus__phrase__sub{
    font-family: 'Mont-Bold';
    font-size: 20px;
    color: #03002B;
    position: relative;
    text-align: center;
    transform: translate(0%, 0%);
  }

  .about__us__focus__phrase__author{
    font-family: 'Mont-Regular';
    font-size: 16px;
    line-height: 113.3%;
    font-style: normal;
    text-align: center;
    letter-spacing: -0.02em;
    color: #03002B;
  }

  .about__us__focus__map__inside__data__geo__img{
    width: 400px;
    height: 483px;
  }

  .slide{
    width: 84%;
    box-sizing: border-box;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . . . . . . . . . . . .";
  }

  .slide--course{
    width: 98%;
}
  
  /* <-------ANIMATION-------> */
  .about__us__arrow:hover {
    filter: invert(0.5) sepia(9);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  /* <-------ANIMATION-------> */
  
  /* <-------MEDIA-------> */
  @media screen and (max-width: 1325px) {
    .none {
      display: none;
    }
  }

  @media screen and (max-width: 1184px) {
    .about__us__focus__tweets {
      grid-template-columns: 1fr 1fr;
  }
  .about__us__focus__tweets__box{
    margin: 10px 0 36px 0px;
    position: relative;
    left: 50%;
    transform: translate(-45%, -10%);
  }
  .about__us__focus__phrase__inside {
    margin: 0 0 0 0vw;
  }
  
  .about__us__focus__phrase {
    margin: 50px 100px 100px 50px;
  }
  }
  
  @media screen and (max-width: 1024px) {
    .none-second {
      display: none;
    }

    .about__us__focus__map__inside__box__mobile{
      position: relative;
      top: 210px;
    }

    .about__us__focus__future{
      margin: 50px 100px 50px 100px;
    }

    .about__us__focus__future__title{
      font-size: 25px;
    }

    .about__us__focus__future__text {
      font-size: 20px;
    }
    .about__us__focus__map{
      background: none;
    }

    .about__us__focus__map__inside {
      margin: 0px 100px 10px 100px;
    }

    .about__us__focus__map__inside__img {
      margin: 40px 0 31px 0;
      position: relative;
      left: 50%;
      transform: translate(-50%, -10%);
    }
    .about__us__focus__map__inside__data__geo {
      bottom: 200px;
      }

    .about__us__focus__knowledge{
      margin: 0;
      background: linear-gradient(180deg, #CECECE -87.93%, rgba(255, 255, 255, 0) 100%);
      position: relative;
      bottom: 100px;
    }

    .about__us__focus__knowledge img{
      margin: 60px 0 31px 0;
      position: relative;
      left: 50%;
      transform: translate(-50%, -10%);
    }
    .about__us__focus__knowledge__text {
      margin: 0 100px 0px 100px;
      width: auto;
      font-size: 25px;
  }
  .about__us__focus__tweets {
    margin: 0px 100px 0px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .about__us__focus__phrase__title{
    width: auto;
  }

    .slide--course{
      width: 85%;
    }
  }
    @media screen and (max-width: 870px) {
      .about__us__focus__tweets {
        margin: 0px 50px 0px 0px;
        display: grid;
        grid-template-columns: 1fr;
    }
    }

    @media screen and (max-width: 500px) {
    .about__us__focus__future{
      margin: 50px 10px 50px 10px;
    }

    .about__us__focus__map__inside {
      margin: 0px 10px 10px 10px;
    }

    .about__us__focus__map__inside__data__geo__img{
      width: 350px;
    }

    .about__us__focus__knowledge__text {
      margin: 0 10px 0px 10px;
      width: auto;
      font-size: 25px;
  }
    }
  /* <-------MEDIA-------> */
  