.buyed{
    margin: 15px 200px 40px 200px;
}

.buyed__progress h1 {
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 29px;
    line-height: 135.3%;
    letter-spacing: -0.02em;
    color: #03002B;
    margin: 0;
}
.buyed__progress h4 {
    font-family: 'Mont-Light';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 135.3%;
    letter-spacing: -0.02em;
    color: #4F4F4F;
    margin: 11px 0 60px 0px;
}

.buyed__progress__img{
    width: 563px;
    height: 292.86px;
    margin: 0px 0 0 14vw;

}

.btn__secundary--buyed__progress{
    margin: 26px 0 0 0;
}

.buyed__progress__media{
    width: 19px;
    height: 19px;
    position: relative;
    top: 17px;
}