.hero__view--courses__plus {
  width: auto;
  height: 402px;
  background-image: linear-gradient(to bottom, #1c1b5200, #03002bd6),
    url(../../static/images/img/ui-design-course-hero.png);
  background-size: cover;
  margin: 0;
}

.hero__title__view--couse__plus {
  padding: 95px 0 0 200px;
}

.hero__view--courses__plus__left {
  margin: 0;
}

.hero__view--courses__plus__text {
  width: 485px;
  font-family: Judson;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 133.3%;
  color: #f2f2f2;
  padding: 0px 0 0 200px;
}

.hero__view__promo {
  background: #ffffff;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 50px;
  z-index: 2;
  right: 230px;
  user-select: none;
}

.hero__view__promo__empty {
  color: black;
  margin: 20px;
}
.hero__view__promo__empty p {
  margin: 0px;
}

.hero__view__promo__empty__text {
  margin: 0;
}

.hero__view__promo__margin {
  margin: -20px 0 0 0;
}
.hero__view__promo__img {
  height: 100px;
  margin: 29px 10px 0 44px;
  width: 130px;
}

.hero__view__promo__img--details {
  width: 81px;
  height: 81px;
  margin: 0px 10px 20px 0px;
}

.hero__view__promo__traingle {
  position: relative;
}

.hero__view__promo__title {
  font-family: "Mont-Bold";
  font-size: 19px;
  margin: 40px 40px 0 0;
  color: #03002b;
  text-align: initial;
}

.hero__view__promo__title--details {
  font-family: "Mont-Bold";
  font-size: 19px;
  margin: 5px 0px 0 0;
  color: #03002b;
  text-align: initial;
}

.hero__view__promo__price {
  font-family: "Mont-Bold";
  font-size: 24px;
  color: #b38a58;
  margin: 5px 20px 0px 0;
}

.hero__view__promo__price--shopping__car {
  width: 120px;
  margin: 10px 20px 0px 0;
}

.hero__view__promo__price__before {
  font-style: inherit;
  text-decoration: line-through;
  color: #828282;
  font-weight: 700;
  margin: 10px 0 0 0;
  font-family: "Mont-Light";
}

.hero__view__promo__price__before--shopping__car {
  width: 70px;
  margin: 15px 0 0 0;
}

.hero__view__promo__price__delete {
  font-family: "Mont-Bold";
  font-weight: 800;
  font-size: 12px;
  line-height: 135.3%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #03002b;
  margin: 15px 55px 0px 30px;
}

.hero__view__promo__price__delete--shopping__car--desktop {
  margin: 20px 55px 0px 30px;
}

.hero__view__promo__price__delete--shopping__car {
  position: absolute;
  left: 48.5vw;
  margin: 20px 0 0 0;
}

.hero__view__promo__price__delete--shopping__car--mobile {
  position: relative;
  left: 0vw;
  margin: 20px 0 0px 0;
}

.hero__view__promo__price__delete:hover {
  color: red;
  cursor: pointer;
}

.hero__view__promo__total {
  margin: 20px 40px 0px 40px;
  border-top: 1px solid #0d0056;
}
.hero__view__promo__total h2 {
  font-family: "Mont-Bold";
  font-size: 17px;
  margin-left: 30px;
  color: #03002b;
}

.hero__view__promo__total__ar {
  position: absolute;
  right: 80px;
}

.hero__view__promo__margin__btn {
  margin: 0px 0 24px 70px;
}

.btn__secundary--promo {
  margin: 10px 0 0 40px;
  width: 142px;
  height: 38px;
  font-family: "Mont-Bold";
}

.btn__primary--promo {
  width: 157px;
  height: 38px;
  padding: 0;
  color: #03002b;
  border: 2px solid #03002b;
  font-family: "Mont-Bold";
  margin: 0 0 0 16px;
  position: relative;
  bottom: 5px;
}

.my-course__menu {
  margin: 0px 30px 40px 0;
}

.my-course__menu--select {
  font-family: Mont-Bold;
  color: #b38a58;
  height: 25px;
  border-bottom: 3px solid #b38a58;
}

.my-course__menu:hover {
  font-family: Mont-Bold;
  color: #b38a58;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.my-course__menu--select:hover {
  cursor: context-menu;
}
.my-course__individual {
  display: grid;
  grid-template-rows: 1fr;
  gap: 17px 24px;
  grid-template-areas: ". . .";
}

.my-course {
  margin: 50px 200px 50px 200px;
}

.btn__secundary--my-course {
  width: 149px;
  margin: 10px 0 30px 0;
}

.course__plus__title {
  margin: 10px 0 0 0;
}

.course__plus__sub__title {
  margin: 0 0 10px 0;
  font-family: "Mont-Regular";
}

.course__plus__progress {
  margin: 10px 0 10px 0;
}

.slide-in-top {
  animation: slide-in-top 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(5px);
    opacity: 1;
  }
}

.opacity-animation {
  animation: opacity-animation 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@keyframes opacity-animation {
  0% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.arrow-rotation-up {
  animation: arrow-rotation-up 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
@keyframes arrow-rotation-up {
  0% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(90px);
    -webkit-transform: rotateZ(90deg);
  }
  100% {
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
  }
}

.arrow-rotation-down {
  animation: arrow-rotation-down 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
@keyframes arrow-rotation-down {
  0% {
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
  }
  50% {
    transform: rotateZ(90px);
    -webkit-transform: rotateZ(90deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
}

@media screen and (max-width: 1300px) {
  .my-course__individual {
    grid-template-areas: ". .";
  }
}
@media screen and (max-width: 1024px) {
  .hero__view__promo__img {
    margin: 29px 10px 0 25px;
    width: 81px;
    height: 81px;
  }
  .hero__view__promo__img--mobile {
    height: 100px;
    margin: 29px 10px 0 44px;
    width: 130px;
  }

  .my-course__individual {
    display: grid;
    grid-template-rows: 1fr;
    gap: 17px 24px;
    grid-template-areas: ".";
  }

  .my-course {
    margin: 50px 100px 50px 100px;
  }

  .hero__view__promo {
    width: 100vw;
    background: #ffffff;
    position: absolute;
    top: 50px;
    z-index: 2;
    right: 0;
  }

  .hero__view__promo__title {
    margin: 27px 40px 0 0;
  }
  .hero__view__promo__img--details {
    width: 68px;
    height: 45px;
  }

  .hero__view__promo__title--details {
    margin: -3px 0px 0 0;
  }
}

@media screen and (max-width: 500px) {
  .my-course {
    margin: 50px 10px 50px 10px;
  }
  .hero__view__promo__img--mobile {
    margin: 29px 10px 0 5px;
  }
  .hero__view__promo__total {
    margin: 20px 5px 0px 5px;
  }
  .hero__view__promo__margin__btn {
    margin: 0px 5px 10px 5px;
  }
}
