/* <-------DISCOVERY-------> */

.discovery__container {
  margin: 0 200px 0 200px;
  transition: all 0.2s ease-in-out;
}

.change {
  margin: 0px 0px 0px 200px;
}
.discovery__title {
  font-family: "Mont-Bold", Roboto;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  padding: 52px 0 50px 0;
  letter-spacing: -0.02em;
  color: #03002b;
  line-height: 117.3%;
}

.discovery__container__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30em;
}

.discovery__course {
  display: grid;
  grid-template-rows: 1fr;
  gap: 17px 24px;
  grid-template-areas: ". .";
}

.discovery__box {
  user-select: none;
  width: 350px;
}
.discovery__box__price__off {
  position: absolute;
  margin: 30px 0px 0px -4px;
}

.discovery__box__price__off__letter {
  color: #ffffff;
  font-family: "Mont-Bold", Roboto;
  position: absolute;
}
.discovery__box__price__off__letter p {
  position: relative;
  top: 17px;
  left: 10px;
}

.discovery__box__img {
  margin: 0px 0px -3px 0;
}

.discovery__box__img__class {
  width: 350px;
  height: 290px;
}

.discovery__box__info {
  background-image: linear-gradient(to top, #dad9d9f2, #f2f2f2);
  margin: 20px 0 20px 28px;
  position: sticky;
  top: 70px;
  z-index: 1;
  right: 50px;
  user-select: none;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0px);
}

.discovery__box__info__in__course__width {
  width: 880px;
}

.discovery__box__info__course {
  background-image: linear-gradient(to top, #dad9d99e, #f2f2f2);
  margin: -4px 0 0 0;
}

.discovery__box__info--my__course {
  background-image: linear-gradient(to top, #dad9d99e, #f2f2f2);
  margin: -4px 0 0 0;
}

.discovery__box__info__padding {
  padding: 10px 0px 0px 21px;
}

.discovery__box__info__title {
  font-style: normal;
  font-weight: 800;
  font-family: "Mont-Bold", Roboto;
  font-size: 22px;
  line-height: 135.3%;
  letter-spacing: -0.02em;
  color: #03002b;
  margin: 0;
}

.pagination {
  list-style: none;
  margin: 40px 0 0 200px;
}

.pagination p {
  padding: 0 40px 0 40px;
  position: relative;
  bottom: 15px;
}
.pagination img {
  padding: 0 5px 0 5px;
  cursor: pointer;
  user-select: none;
}
.pagination img:hover {
  filter: sepia(9);
}

.discovery__box__info__name {
  margin: 0 15px 0 0px;
  font-family: "Mont-Bold", Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #000000;
}

.discovery__box__info__name--course {
  margin: 0 35px 0 0px;
}

.discovery__box__info__teach {
  padding: 3px 0px 0px 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 135.3%;
  letter-spacing: -0.03em;
  color: #4f4f4f;
}

.discovery__box__info__price {
  font-style: normal;
  margin: 10px 0 0 0;
  font-weight: bold;
  font-size: 21px;
  letter-spacing: -0.02em;
  color: #03002b;
  font-family: "Mont-Bold", Roboto;
}

.discovery__box__info--fix {
  margin: 5px 0 0 0;
}

.discovery__box__info__student {
  margin: 2px 0px 0px 5px;
  font-size: 12px;
}
.discovery__box__info__hours__icon {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

.discovery__box__info__price__before {
  margin: 13px 0px 0px 10px;
  font-style: normal;
  color: #828282;
  font-family: Mont-light;
  font-weight: 700;
}

.discovery__box__info__price__before strong {
  text-decoration: line-through;
}

.discovery__box__info strong {
  text-decoration: line-through;
  font-family: Mont-light;
}

.discovery__box__info__icon {
  width: 45px;
  height: 38px;
  margin: 7px 0px 30px 0px;
  cursor: pointer;
}

.shopping__car__icon__squad--select__message {
  position: absolute;
  bottom: -5px;
  right: 50px;
  background: #bdbdbd;
  padding: 7px;
}

.shopping__car__icon__squad--select__message--individual {
  bottom: 5px;
  right: 63px;
}

.shopping__car__icon__squad--select__message p {
  font-family: "Mont-Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 135.3%;
  letter-spacing: -0.02em;
  color: #03002b;
  padding: 0;
  margin: 0;
}

.discovery__box__position {
  position: relative;
  top: 7px;
}

.discovery__diploma {
  user-select: none;
  width: 280px;
  height: 478px;
  background-image: linear-gradient(to bottom, #03002be0, #03002bed),
    url(../../static/images/img/principal-image.png);
  background-size: cover;
  background-position: -240px;
  margin: 0 0px 0 20px;
  position: sticky;
  top: 10px;
}

.discovery__diploma__star {
  margin: 50px 0 0 45%;
  width: 27px;
}

.discovery__diploma__title {
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
  font-family: "Mont-Bold", Roboto;
  line-height: 113.3%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #b38a58;
}

.discovery__diploma__text {
  width: 237px;
  font-style: normal;
  font-size: 15px;
  line-height: 131.3%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #f2f2f2;
  margin: 30px 0px 40px 25px;
}

.discovery__diploma__img {
  margin: 0;
  height: 350px;
  position: relative;
  left: -50px;
  top: -30px;
}
/* <-------DISCOVERY-------> */

/* <-------COURSE-------> */

.hero__view {
  width: auto;
  height: 462px;
  background-image: linear-gradient(to bottom, #1c1b5200, #03002bd6),
    url(../../static/images/img/course-hero.png);
  background-size: cover;
  margin: 0;
}

.hero__title__view {
  font-family: "Mont-Bold", Roboto;
  font-size: 37px;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin: 0px;
  text-align: center;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 113.3%;
}

.hero__view--courses__plus__title {
  width: 435px;
  font-family: "Mont-Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 41px;
  line-height: 117.3%;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin: 0;
  padding: 90px 0px 0px 200px;
}

.display__course__screen__mobile {
  display: none;
}
/* <-------COURSE-------> */

/* <-------MEDIA-------> */
@media screen and (max-width: 1325px) {
  .discovery__container {
    margin: 0px 150px 0px 150px;
  }
}
@media screen and (max-width: 1315px) {
  .discovery__diploma {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .discovery__course {
    display: block;
    margin: auto;
  }

  .discovery__container {
    margin: 0px 0px 0 0;
    transition: all 0.2s ease-in-out;
  }
  .hero__view {
    height: 181px;
  }

  .display__course__screen__desktop {
    display: none;
  }

  .display__course__screen__mobile {
    display: block;
  }
  .discovery__box {
    margin: 10px 0 0 -4px;
  }
  .pagination {
    list-style: none;
    place-content: center;
    margin: 40px 0 0 0;
  }
  .discovery__box__info__title {
    font-family: "Mont-Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 135.3%;
    letter-spacing: -0.02em;
    margin: 0px 20px 0 0;
    color: #03002b;
  }

  .discovery__box__info__mobile {
    margin: 0;
  }
  .discovery__box__info__teach {
    padding: 1px 0px 0px 0px;
  }
  .discovery__title {
    padding: 0;
    font-size: 23px;
    margin: 20px 20px 20px 20px;
  }
  .hero__title__view {
    font-size: 24px;
  }
}

@media screen and (max-width: 400px) {
  .discovery__course {
    display: block;
  }

  .discovery__container {
    margin: 0px 0px 0 2%;
    transition: all 0.2s ease-in-out;
  }

  .discovery__box {
    width: 306px;
  }
  .discovery__box__img__class {
    width: 306px;
    height: 290px;
  }
}

/* <-------MEDIA-------> */
