.data {
    margin: 71px 200px 50px 200px;
    height: 680px;
}

.data h4{
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 135.3%;
    letter-spacing: -0.03em;
    color: #03002B;
    margin: 0;
}
.data h5{
    font-family: 'Mont-Light';
    font-style: normal;
    font-size: 15px;
    line-height: 135.3%;
    letter-spacing: -0.03em;
    color: #03002B;
    margin: 5px 0 20px 0;

}

.data__input__text{
    width: 448px;
    height: 37px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    margin: 11px 0 0px 0px;
}
.data input::placeholder{
    padding: 10px;
}

.btn__secundary--data{
    width: 132px;
    margin: 20px 0 0 0;
}

.data h1{
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 135.3%;
    letter-spacing: -0.03em;
    color: #03002B;
    margin: 59px 0 20px 0;
}
.data__text{
    width: 576px;
    font-size: 14px;
    margin: 30px 0 0 0;
}

.data__input__text__area{
    width: 448px;
    height: 98px;
}

.data__input__text__area::placeholder{
    position: relative;
    bottom: 30px;
}

.data__right{
    margin: 0 0px 0px 40px;
}

.data__right p{
    font-family: 'Mont-Light';
    font-size: 15px;
    margin: 0 0 30px 0;
}

.data__right img{
    margin: 0px 10px 0px 0;
    height: 50px;
}

.data__right__title{
    height: 37px;
    left: 687px;
    top: 568px;
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 152.3%;
    letter-spacing: -0.03em;
    color: #000000;
}