/* <-------FOOTER-------> */
.footer {
  height: 377px;
  background: #03002b;
  color: #bdbdbd;
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
}
.footer__container div ol li:hover {
  color: #b38a58;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.footer__container div ol li h5:hover {
  cursor: context-menu;
  transition: all 0.2s ease-in-out;
}

.footer__container__left {
  list-style: none;
  margin: 81px 0 0 190px;
}

.footer__container__left li {
  list-style: none;
  margin: 4px 0 0px 0px;
  font-family: Mont-Light;
  font-weight: 700;
  font-size: 15px;
}

.footer__container__left--fix {
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0;
}
.footer__container__left--fix li {
  margin: 10px 15px 10px 0px;
}
.footer__logo {
  width: 250px;
  margin: 40px 0 0 80px;
}

.footer__container__left h5 {
  font-size: 15px;
  font-family: 'Mont-Regular', Roboto;
  color: #fff;
  margin: 0;
  font-weight: 800;
}

.footer__container__right {
  margin: 80px 0 0 0px;
}

.footer__container__right li {
  list-style: none;
  margin: 2px 0 0px 0px;
  font-family: Mont-Light;
  font-weight: 700;
  font-size: 15px;
  margin-top: 10px;
}

.footer__container__right h5 {
  font-size: 15px;
  font-family: 'Mont-Regular', Roboto;
  color: #fff;
  margin: 0;
  font-weight: 800;
}
.footer__reserved {
  background: black;
  margin: 0;
  color: #f2f2f2;
  height: 40px;
  border-top: 1px solid;
}


.footer__reserved p {
  margin: 0;
  font-size: 12px;
  padding: 13px 0px 0px 30px;
  font-weight: 500;
  color: #bdbdbd;
}

.footer__socials__network{
  position: relative;
  top: 30px;
}

.footer__socials--youtube{
    display: block;
    width: 38px;
    height: 38px;
    background-size: cover;
    margin: 7px 0px 30px 230px;
    background-image: url(../../static/images/svg/youtube.svg);
}
.footer__socials--facebook{
    display: block;
    width: 38px;
    height: 38px;
    background-size: cover;
    margin: 7px 0px 30px 0px;
    background-image: url(../../static/images/svg/facebook.svg);
}
.footer__socials--instagram{
    display: block;
    width: 38px;
    height: 38px;
    background-size: cover;
    margin: 7px 0px 30px 0px;
    background-image: url(../../static/images/svg/instagram.svg);
}

.footer__arrow {
  height: 45px;
  position: relative;
  right: 0px;
  bottom: 40px;
}
.footer__help {
  display: flex;
  margin: 100px 0px 0px 40px;
}
.footer__help img {
  margin: -27px 0px 0 0px;
}

.footer__help p {
  position: relative;
  top: -15px;
  left: 10px;
  font-size: 12px;
  font-weight: 900;
  color: #f2f2f2;
  letter-spacing: 0.08em;
}

.footer a{
  text-decoration: none;
  color: #BDBDBD;
}
.display__footer__screen__mobile{
  display: none;
}

.footer__arrow:hover {
  filter: invert(0.5) sepia(9);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.footer__socials {
  opacity: 0.7;
}
.footer__socials--youtube:hover {
  background-image: url(../../static/images/svg/youtube-hover.svg);
  background-size: cover;
  width: 38px;
  height: 38px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.footer__socials--instagram:hover {
  background-image: url(../../static/images/svg/instagram-hover.svg);
  background-size: cover;
  width: 38px;
  height: 38px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.footer__socials--facebook:hover {
  background-image: url(../../static/images/svg/facebook-hover.svg);
  background-size: cover;
  width: 38px;
  height: 38px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

/* <-------MEDIA-------> */
@media screen and (max-width: 1325px) {
  .footer__container__left--fix {
    list-style: none;
    margin: 10px 0 0 50px;
    display: flex;
  }

  .footer__container__left--fix__contact__us {
    margin: 0;
  }
  .footer__logo{
    margin: 40px 0 0 0px;
  }

  .footer__container__left {
    list-style: none;
    margin: 81px 0 0 60px;
  }
  .footer__socials--youtube{
    margin: 7px 0px 30px 50px;
  }

}
@media screen and (max-width: 1150px) {
  .footer__logo {
    height: 195px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    top: 30px;
  }
  .footer__logo__mobile{
    width: 200px;
      position: relative;
      top: 60px;
  }
  
}
@media screen and (max-width: 1024px) {

  .footer__flex__mobile{
    display: flex;
  }

  .footer__container__left {
    list-style: none;
    margin: 50px 0 0 0px;
}
  .footer{
    height: 504px;
  }

  .display__footer__screen__mobile{
    display: block;
  }

  .footer__logo__mobile{
    margin: 0 0 0 20px;
  }

  .display__footer__screen__desktop{
  display: none;
  }
  .footer__container {
    display: block;
  }

  .footer__arrow{
    margin-left: auto;
    top: -440px;
    right: 40px;
  }

  .footer__container__right--mobile{
    height: 0;
    position: absolute;
    right: 10px;
  }

  .footer__container__left--fix{
    position: absolute;
    right: 40px;
  }

  .footer__socials__network {
    position: relative;
    top: 10px;
  }

  .footer__container__right--fix{
    position: relative;
    top: -240px;
  }

  .footer__reserved p {
    position: absolute;
    right: 30px;
  }

  .footer__help{
    margin: 0;
  }

  .footer__help--mobile{
    position: relative;
    top: 15px;
    width: 0;
    left: 30px;
  }

  .footer__help img {
    margin: -6px 0px 0px 0px;
  }

  .footer__reserved p {
    padding: 13px 0px 0px 20px;
  }
}

@media screen and (max-width: 450px) {
  .footer__arrow {
    right: 10px;
    width: 28px;
    height: 28px;
  }
  .footer__container__left {
    padding: 0 0 0 10px;
  }
}

/* <-------MEDIA-------> */
