.login {
  display: flex;
  place-content: center;
  background: #ffffff;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
  width: 558px;
  transform: translateY(2%);
}

.login__inside {
  padding: 0px 100px 0px 100px;
}

.login__inside__title {
  font-family: "Mont-Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
  line-height: 135.3%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #03002b;
  margin-top: 47px;
  margin-bottom: 40px;
}

.login__inside__form__label {
  font-family: "Mont-Semi-Bold";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 135.3%;
  letter-spacing: -0.03em;
  color: #000000;
}

.login__inside__form__input {
  width: 365px;
  height: 37px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  margin: 10px 0 15px 0;
}

.login__inside__text {
  font-family: "Mont-Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 135.3%;
  letter-spacing: -0.02em;
  color: #000000;
  display: flex;
  align-items: center;
  place-content: center;
  margin-top: 38px;
  margin-bottom: 30px;
}

.login__inside__text a {
  text-decoration: none;
  margin-left: 5px;
  color: #b38a58;
}

.login__inside__text a:hover {
  color: #03002b;
}

.login__inside__form {
  margin: 32px 0 0px 0;
}

.facebook__button {
  width: 365px;
  font-family: "Mont-Semi-Bold";
  height: 46px;
  display: flex;
  align-items: center;
  place-content: center;
  background: #00579a;
  border: none;
  margin-bottom: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 19px;
}

.facebook__button__img {
  margin-right: 8px;
}

.google__button {
  width: 365px;
  font-size: 19px;
  height: 46px;
  display: flex;
  align-items: center;
  place-content: center;
  background: #e0e0e0;
  border: none;
  margin-bottom: 8px;
  font-family: "Mont-Semi-Bold";
  color: #000000;
  cursor: pointer;
}

.google__button__img {
  width: 27px;
  height: 27px;
  margin-right: 8px;
}
.congratulation__exit--login {
  cursor: pointer;
  display: block;
  width: 14px;
  height: 16px;
  position: relative;
  top: 20px;
  z-index: 1;
  left: 420px;
  background-size: cover;
  background-image: url(../../static/images/svg/icon-x.svg);
}

.congratulation__exit--login:hover {
  filter: sepia(181);
}

.login__inside__go__back__button {
  display: none;
}

@media screen and (max-width: 1024px) {
  .login {
    width: auto;
    transform: none;
    height: 100vh;
  }
  .login__inside__title {
    margin-top: 0px;
  }

  .login__inside__go__back__button h1 {
    font-family: "Mont-Light";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 135.3%;
    letter-spacing: -0.02em;
    color: #4f4f4f;
    margin: 30px 0px 27px 10px;
  }

  .congratulation__exit--login {
    display: none;
  }
  .login__inside__go__back__button {
    display: block;
  }
  .facebook__button--register {
    width: 300px;
    margin: 10px 0px 10px 0px;
  }
  .google__button--register {
    width: 300px;
    margin: 10px 0px 40px 0px;
  }
}
