.payment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 30px;
  grid-template-areas: ". . . .";
  margin: 50px 200px 0 200px;
}

.way-to-pay {
  margin: 0;
}

.way-to-pay__text {
  font-family: "Mont-Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 135.3%;
  letter-spacing: -0.03em;
  color: #03002b;
  margin: 0 0 10px 63px;
}
.way-to-pay__input {
  width: 448px;
  height: 37px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
}

.way-to-pay__input--email {
  margin: 3px 0px 10px 63px;
}

.way-to-pay__input--email__message__down {
  font-size: 14px;
  line-height: 135.3%;
  font-family: Judson;
  margin: 0px 0px 0px 60px;
}

.way-to-pay__input__box {
  margin: 20px 0 0 20px;
}

.way-to-pay__input__box--variant {
  margin: 20px 0 0 70px;
}

.way-to-pay__input__box__title {
  font-family: "Mont-Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 135.3%;
  letter-spacing: -0.03em;
  color: #000000;
}

.way-to-pay__input__required {
  font-family: "Mont-Light";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 135.3%;
  letter-spacing: -0.03em;
  color: #4f4f4f;
  margin: 15px 0 15px 0;
}

.way-to-pay__input--card {
  width: 321px;
  margin: 0px 0 16px 0px;
}

.way-to-pay__input--MM {
  width: 176px;
  margin: 0px 10px 0 0px;
}

.way-to-pay__input--segurity {
  width: 176px;
}

.way-to-pay__box {
  border: 2px solid #f2f2f2;
  box-sizing: border-box;
  width: 550px;
  position: relative;
  padding: 15px 0 0 60px;
  margin: 40px 0 0 0;
}

.way-to-pay__box__subtext {
  font-family: "Mont-Light";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 135.3%;
  letter-spacing: -0.03em;
  color: #4f4f4f;
}

.way-to-pay__box__card {
  width: 133.38px;
  height: 68px;
  left: 263px;
  top: 253px;
  background: #ffffff;
  box-shadow: 0px 0px 9px rgba(6, 0, 37, 0.2);
  display: inline-block;
  margin: 24px 14px 33px 0px;
  cursor: pointer;
}

.way-to-pay__box__card--mercado__pago__text {
  font-family: "Mont-Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 135.3%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #000000;
  width: 304px;
}

.way-to-pay__box__card--button__paypal {
  margin: 50px 0px 50px 20px;
}

.way-to-pay__box__card__img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.way-to-pay__input--check--initial {
  position: absolute;
  position: absolute;
  margin: 5px 0 0px 10px;
  z-index: 2;
}
.way-to-pay__input--check--initial--correct {
  filter: sepia(181);
}
.way-to-pay__input--check {
  position: relative;
  top: 5px;
  right: -10px;
}

.way-to-pay__input--error {
  font-family: "Mont-Light";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 135.3%;
  letter-spacing: -0.03em;
  color: #4f4f4f;
  position: relative;
  top: -10px;
}

.way-to-pay__input--error__profile {
  font-family: "Mont-Light";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 135.3%;
  letter-spacing: -0.03em;
  color: #4f4f4f;
  position: relative;
  top: 5px;
}

.way-to-pay__input--error--variation {
  position: absolute;
  margin: 50px 0 0 0;
  top: auto;
}

.way-to-pay__input--error--variation--segurity {
  position: absolute;
  margin: 13px 0px 0 190px;
  top: auto;
}

.way-to-pay__input--check--correct {
  filter: sepia(181);
}

.way-to-pay__input__btn {
  margin: 50px 0 20px 0;
}

.way-to-visa {
  width: 41px;
  height: 23px;
  margin: 0px 10px 10px 60px;
}
.way-to-master {
  width: 35px;
  height: 34px;
}
.way-to-express {
  width: 37px;
  height: 28px;
  margin: 0px 10px 0 10px;
}

.btn__secundary--way-to-pay {
  margin: 41px 0px 50px 20%;
}

.btn__secundary--way-to-pay:hover {
  background-color: #03002b;
  border: 2.5px solid #03002b;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.way-to-pay__box__card--mercado__pago__text__btn {
  margin: 45px;
}

.way-to-pay__box__card--mercado__pago__text__btn:hover {
  background-color: #03002b;
}
.details {
  width: 468px;
  background: #f2f2f2;
  user-select: none;
}
.details hr {
  margin: 0px 0 25px 0;
}

.details__inside {
  margin: 30px 30px 0px 43px;
}

.details__inside__title__edit {
  position: relative;
  left: 170px;
  top: 20px;
}

.details__inside__title__edit__link {
  margin: 25px 10px 0 0px;
  text-decoration: none;
  color: black;
  position: relative;
  cursor: pointer;
  left: 180px;
  top: 10px;
}

.details__inside__title__edit__link p {
  margin: 0px 0 0 0;
}

.details__inside__title__edit__link:hover {
  color: #b38a58;
  font-family: "Mont-Bold";
}

.details__inside__title__edit__link img {
  margin: 0px 10px 0 10px;
}

.details__inside__title {
  font-family: "Mont-Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
  line-height: 113.3%;
  color: #03002b;
  margin: 33px 0 15px 0;
}

.details__inside__total {
  color: #b38a58;
}

.details__inside__total p {
  margin: 0;
  font-family: "Mont-Light";
  font-size: 14px;
}

.details__inside__total strong {
  font-family: "Mont-Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
  line-height: 135.3%;
  letter-spacing: -0.02em;
  margin: 0;
}

.details__inside__total__before {
  font-family: "Mont-Light";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 135.3%;
  text-decoration-line: line-through;
  color: #828282;
  position: relative;
  top: 25px;
  left: 20px;
}

.details__inside__detail__empty {
  padding: 0px 0 20px 0;
}

.details__inside__detail {
  margin: 20px 0 0 0;
  font-family: "Mont-Light";
  font-size: 16px;
  cursor: pointer;
  padding: 0px 0 20px 0;
  width: 130px;
}

.details__inside__detail p {
  margin: 0 10px 0 0px;
  font-family: "Mont-Regular";
  font-size: 16px;
}

.what__is__buying h1 {
  font-family: "Mont-Bold";
  font-style: normal;
  margin: 30px 0 20px 0px;
  font-weight: 800;
  font-size: 18px;
  line-height: 135.3%;
  letter-spacing: -0.03em;
  color: #000000;
}

.what__is__buying p {
  width: 419px;
  font-size: 17px;
  font-family: Judson;
}

.secure__pay {
  margin: 50px 200px 50px 200px;
}

.secure__pay__img {
  width: 73.35px;
  position: relative;
  height: 86.3px;
  top: 20px;
}

.secure__pay__inside {
  margin: 0px 0px 0px 20px;
}

.secure__pay__inside h2 {
  font-family: "Mont-Bold";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 135.3%;
  letter-spacing: -0.03em;
  color: #000000;
}
.secure__pay__inside p {
  width: 375px;
  font-family: Judson;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.3%;
  color: #000000;
}

.congratulation {
  display: flex;
  place-content: center;
  background: #ffffff;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
  width: 558px;
  height: 631px;
  margin-top: 50px;
}

.congratulation__exit {
  cursor: pointer;
  display: block;
  width: 14px;
  height: 16px;
  position: relative;
  left: 510px;
  top: 20px;
  background-size: cover;
  background-image: url(../../static/images/svg/icon-x.svg);
}

.congratulation__exit:hover {
  filter: sepia(181);
}

.congratulation__box__inside {
  padding: 80px 0 0 150px;
}

.congratulation__box__inside__img {
  width: 240px;
  height: 289px;
  margin-bottom: 30px;
}

.congratulation__box__inside h1 {
  font-family: "Mont-Bold";
  margin: 0px 0px 0px 30px;
  color: #b38a58;
}
.congratulation__box__inside h4 {
  font-family: Mont-Semi-Bold;
  position: relative;
  right: 80px;
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 140.3%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #0d0056;
  width: 400px;
  bottom: 20px;
}

.btn__secundary--congratulation {
  margin: 0;
  position: relative;
  right: -30px;
  top: -10px;
}

.btn__secundary--congratulation p {
  margin: 17px;
}

.payment__footer {
  margin: 10px 200px 10px 200px;
}

.payment__footer h5 {
  margin: 20px 17vw 0px 0px;
  font-family: "Mont-Light";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 113.3%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #574d8d;
}
.payment__footer li {
  list-style: none;
  margin: 0 20px 0 0;
  font-family: "Mont-Light";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 135.3%;
  letter-spacing: -0.03em;
  color: #bdbdbd;
  cursor: pointer;
}
.payment__footer li:hover {
  color: #b38a58;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1230px) {
  .payment {
    margin: 50px 200px 0 0px;
  }
}
@media screen and (max-width: 1024px) {
  .payment {
    margin: 50px 200px 0 0px;
  }

  .way-to-pay {
    margin: -70px 0 0px 0;
  }

  .way-to-pay__box {
    border: none;
  }

  .details {
    position: relative;
    top: -80px;
    width: 100vw;
  }

  .way-to-pay__input--email {
    width: 60vw;
  }

  .way-to-pay__tex__email {
    margin: 10px 0 -20px 0;
  }

  .way-to-pay__box {
    padding: 15px 0 0 10%;
  }

  .way-to-pay__box {
    width: auto;
  }

  .way-to-visa {
    margin: 0px 10px 10px 20px;
  }
  .details__inside__title__edit {
    position: absolute;
    margin: 20px 0 0 0;
    top: 150px;
    left: 80%;
  }
  .details__inside__title__edit p {
    margin: 0px 10px 0 0px;
  }
  .secure__pay {
    margin: 0px 0px 50px 60px;
  }
  .secure__pay__inside p {
    width: auto;
  }

  .congratulation {
    background: #ffffff94;
    box-shadow: none;
    margin-right: none;
    margin-left: none;
    width: auto;
    margin-top: 0;
  }

  .congratulation__box__inside__img {
    width: 207px;
    height: 250px;
    margin-bottom: 20px;
  }

  .congratulation__box__inside h1 {
    font-size: 31px;
    margin: 0px 0px 0px 0px;
  }

  .congratulation__box__inside h4 {
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    line-height: 140.3%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #03002b;
    padding: 0 0px 0 0px;
    margin: 30px 0px 30px 50px;
    width: 295px;
  }

  .congratulation__box {
    background: #ffffff65;
    box-shadow: none;
    width: auto;
  }

  .congratulation__exit {
    display: none;
  }

  .congratulation__box__inside {
    padding: 50px 0 0 15%;
  }

  .way-to-pay__input__box {
    margin: 20px 0 0 30px;
  }

  .details__inside {
    margin: 30px 30px -70px 43px;
  }

  .details hr {
    display: none;
  }

  .btn__secundary--way-to-pay {
    margin: 0px 0px 50px 20%;
  }

  .btn__secundary--way-to-pay--mobile {
    margin: 0px 0px 50px -5%;
  }
}

@media screen and (max-width: 445px) {
  .way-to-pay__box {
    padding: 15px 0 0px 0px;
  }
  .details__inside {
    margin: 30px 0px 0px 50px;
  }

  .way-to-pay__box__card {
    width: 133.38px;
    width: 102px;
    height: 52px;
    background: #ffffff;
    box-shadow: 0px 0px 9px rgba(6, 0, 37, 0.2);
    display: inline-block;
    margin: 14px -10px 10px 20px;
  }

  .way-to-pay__box__card__img {
    width: 82px;
    height: 41px;
  }

  .way-to-pay__input--MM {
    width: 136px;
  }

  .details__inside__title__edit {
    left: 70%;
  }

  .secure__pay {
    margin: 0px 0px 50px 10px;
  }
  .secure__pay__inside p {
    width: auto;
    padding: 0 50px 0 0px;
  }

  .way-to-pay__input__box {
    margin: 20px 0 0 15px;
  }
  .way-to-pay__input__box--variant {
    margin: 20px 0 0 20px;
  }
  .details__inside__edit {
    position: absolute;
    right: 10px;
  }
  .way-to-pay__text {
    margin: -10px 0 10px 23px;
  }
  .way-to-pay__input--email {
    margin: 3px 0px 31px 20px;
  }
  .way-to-pay__input--card {
    width: 68vw;
    margin: 0px 0 16px 0px;
  }
  .way-to-pay__input--email__message__down {
    font-size: 14px;
    line-height: 135.3%;
    font-family: Judson;
    margin: 0px 0px 0px 20px;
  }
}
