.register {
  background-image: linear-gradient(to bottom, #03002b, #03002b80),
    url(../../static/images/img/log-in.png);
  background-size: cover;
  margin: 0;
  height: 100vh;
}

.register__img {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -280%);
}

.register__box {
  width: 520px;
  background: #ffffff;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.25);
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register__box__inside {
  margin: 25px 75px 50px 75px;
}

.register__box__inside__img {
  margin: 30px 30px 20px 50px;
  width: 134px;
  height: 111px;
}

.register__box__inside h1 {
  font-family: "Mont-Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 31px;
  line-height: 135.3%;
  text-align: initial;
  letter-spacing: -0.02em;
  color: #b38a58;
  margin: 30px 0 0 0;
}
.register__box__inside h2 {
  font-family: "Mont-Bold";
  font-style: normal;
  margin: 10px 0 20px 0px;
  font-weight: 800;
  font-size: 18px;
  line-height: 105.3%;
  letter-spacing: -0.02em;
  color: #03002b;
}
.register__box__inside h3 {
  font-family: "Mont-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 135.3%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #03002b;
  margin: 20px auto 40px auto;
  width: 340px;
}
.register__box__inside__text {
  font-family: "Judson";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 136.2%;
  text-align: center;
  color: #4f4f4f;
  margin: 0 -30px 0 -30px;
}
.register__box__inside__label {
  font-family: "Mont-Semi-Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 135.3%;
  letter-spacing: -0.02em;
  color: #03002b;
  margin: 16px 0px 10px 0px;
}

.register__box__inside input {
  width: 365px;
  height: 37px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
}

.register__box__inside--error {
  font-family: "Mont-Light";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 135.3%;
  letter-spacing: -0.03em;
  color: #4f4f4f;
  position: relative;
  top: 5px;
}

.btn__secundary--register {
  width: 156px;
  margin: 30px 0 0 100px;
}

.register__box__inside__link {
  margin: 30px 0px -20px 45px;
}
.register__box__inside__link--register {
  margin: 40px 0px 0px 30px;
}

@media screen and (max-width: 1024px) {
  .register__box {
    width: 100vw;
    height: 100vh;
    box-shadow: none;
  }
  .register__box__inside {
    text-align: -webkit-center;
  }
  .register__box__inside h1 {
    font-size: 23px;
    text-align: center;
  }
  .btn__secundary--register {
    margin: 30px 0 0 0px;
  }
  .register__box__inside {
    margin: 25px 35px 50px 35px;
  }
  .register__box__inside--without_register {
    margin: 40px 0 0 0;
  }
  .register__box__inside__text {
    margin: 0;
  }
  .register__box__inside__label--mail {
    position: relative;
    left: -10px;
  }
  .register__box__inside__label--password {
    position: relative;
    left: -105px;
  }
  .register__box__inside__img {
    margin: 0 0px 0 0px;
    width: 134px;
    height: 111px;
  }
  .register__box__inside input {
    width: 300px;
  }

  .register__box__inside h2 {
    font-size: 18px;
  }
  .register__box__inside__link {
    margin: 40px 0px 10px 10px;
  }
  .register__box__inside__label--register {
    position: relative;
    left: -15px;
  }
  .register__box__inside--error {
    right: 70px;
  }
  .register__box__inside--error__server {
    right: 40px;
  }
  .register__box__inside--error__contact {
    right: 0px;
  }
}

@media screen and (max-width: 376px) {
  .register__box__inside__link--register {
    margin: 40px 0px 0px -10px;
  }
}
