/* <-------BUTTON-------> */
.btn__primary {
  color: #f2f2f2;
  font-size: 16px;
  font-family: "Mont-Light", Roboto;
  padding: 13px 25px;
  border: 1px solid #f2f2f2;
  cursor: pointer;
  text-align: center;
  background-color: #56fffb05;
}

.btn__primary--fix {
  margin: 0px 0px 8% 193px;
  font-family: "Mont-Bold";
  height: 40px;
  padding: 0px 35px 0px 35px;
  border: 2px solid #f2f2f2;
}
.btn__primary--login {
  font-size: 12px;
  width: 114px;
  padding: 4px 0 3px 0px;
  position: relative;
  bottom: 2px;
}
.btn__primary--register-width {
  width: 95px;
}

.btn__secundary {
  color: #f2f2f2;
  font-size: 16px;
  width: 150px;
  height: 30px;
  border: 1px solid #b38a58;
  cursor: pointer;
  text-align: center;
  background-color: #b38a58;
  margin: 0 20px 4px 0px;
  position: relative;
  bottom: 5px;
  font-family: "Mont-Light", Roboto;
}

.btn__secundary--buy {
  width: 199px;
  font-family: "Mont-Bold", Roboto;
  height: 38px;
  color: #b38a58;
  background-color: initial;
  border: 2.5px solid #b38a58;
  margin: 0px 10px 24px 0;
}

.btn__secundary--buy--course {
  width: 150px;
}

.btn__secundary--buy--select {
  background-color: #b38a58;
  color: #ffffff;
}

.btn__secundary--politicy--select {
  border: 2px solid #b38a58;
}

.btn__secundary--emergent {
  width: 135px;
  color: black;
  border: 2px solid black;
}

.btn__secundary--emergent__shopping {
  width: 157px;
  color: black;
  border: 2px solid black;
}

.btn__secundary--login__modal {
  width: 169px;
  margin: 38px 0 38px 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.btn__secundary--register {
  margin: 0;
}

.btn__arrow__buy {
  position: absolute;
  left: 10px;
  top: -10px;
}

.icon {
  display: block;
  width: 19px;
  height: 19px;
  background-size: cover;
  margin: 17px 5px 0 3px;
}

.btn__arrow__buy__img {
  width: 19px;
  height: 19px;
  position: relative;
  top: 17px;
}

.btn__arrow__black {
  width: 24px;
  background-size: cover;
  height: 24px;
  background-image: url(../static/images/svg/arrow-right-black.svg);
  position: relative;
  top: 15px;
  margin: 0 0px 0 0;
}
.btn__arrow__gold {
  width: 24px;
  background-size: cover;
  height: 24px;
  background-image: url(../static/images/svg/arrow-right-gold.svg);
  position: relative;
  top: 15px;
  margin: 0 0px 0 0;
}
.btn__arrow__white {
  background-image: url(../static/images/svg/arrow-right-white.svg);
}

.btn__arrow__buy__shopping {
  width: 24px;
  height: 25px;
  background-image: url(../static/images/svg/shopping-car-black.svg);
  position: relative;
  top: 13px;
  left: 5px;
  margin: 0 5px 0px 0;
}

.btn__arrow__buy__shopping--white {
  background-image: url(../static/images/svg/shopping-car-white.svg);
}

.btn__play__img {
  width: 19px;
  height: 19px;
  background-image: url(../static/images/svg/icon-play.svg);
}

.btn__arrow__buy p {
  font-family: "Mont-Bold";
  font-size: 15px;
  margin: 17px 0 0 10px;
  transition: none;
}

.btn__arrow__buy p:hover {
  transition: none;
}

button {
  outline: none;
}

.checkbox__container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
  padding: 5px 10px 10px 35px;
  font-family: "Mont-Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 135.3%;
  letter-spacing: -0.03em;
  color: #000000;
}

.btn__secundary--about__us {
  width: 230px;
  position: relative;
  top: 120px;
  left: 120px;
}

.checkbox__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox__container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox__container input:checked ~ .checkmark {
  background-color: #03002b;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox__container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox__container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
/* <-------ANIMATION-------> */

.btn__primary--fix:hover {
  background-color: #b38a58;
  transition: all 0.2s ease-in-out;
  border: 2px solid #b38a58;
}
.btn__primary:hover {
  background-color: #b38a58;
  transition: all 0.2s ease-in-out;
  border: 2px solid #b38a58;
}
.btn__secundary--buy:hover {
  fill: #fff;
  background-color: #b38a58;
  color: #ffffff;
  transition: none;
  border: 2.5px solid #b38a58;
}

.btn__primary--login:hover {
  border: 1px solid #b38a58;
}
.btn__secundary--emergent:hover {
  border: 2px solid #b38a58;
}
.btn__secundary--emergent__shopping:hover {
  border: 2px solid #b38a58;
}
/* <-------ANIMATION-------> */
/* <-------MEDIA-------> */
@media screen and (max-width: 1100px) {
  .btn__secundary--about__us {
    left: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .btn__primary--media {
    margin: 20px 0px 8% 43px;
  }

  .btn__secundary--about__us {
    width: 150px;
    position: relative;
    top: 0;
    left: 0;
  }
}
/* <-------MEDIA-------> */
