/* <-------BUTTON-------> */
.btn__primary {
    color: #f2f2f2;
    font-size: 16px;
    font-family: 'Mont-Light', Roboto;
    padding: 13px 25px;
    border: 1px solid #f2f2f2;
    cursor: pointer;
    text-align: center;
    background-color: #56fffb05;
  }
  
  .btn__primary--fix {
    margin: 0px 0px 8% 193px;
    font-family: 'Mont-Bold';
    height: 40px;
    padding: 0px 35px 0px 35px;
    border: 2px solid #f2f2f2;
  }
  .btn__primary--login {
    font-size: 12px;
    width: 114px;
    padding: 4px 0 3px 0px;
    position: relative;
    bottom: 2px;
  }
  .btn__primary--register-width {
    width: 95px;
  }
  
  .btn__secundary {
    color: #f2f2f2;
    font-size: 16px;
    width: 150px;
    height: 30px;
    border: 1px solid #b38a58;
    cursor: pointer;
    text-align: center;
    background-color: #b38a58;
    margin: 0 20px 4px 0px;
    position: relative;
    bottom: 5px;
    font-family: 'Mont-Light', Roboto;
  }

  .btn__secundary--buy {
    width: 199px;
    font-family: 'Mont-Heavy', Roboto;
    height: 38px;
    background-color: initial;
    color: #b38a58;
    border: 2.5px solid #b38a58;
    margin: 0px 10px 24px 0;
  }
  
  .btn__secundary--register {
    margin: 0;
  }

  .btn__arrow__buy {
    position: absolute;
    left: 10px;
    top: -10px;
  }
  
  .btn__arrow__buy img {
    margin: 0px 5px 0px 0px;
  }
  
  .btn__arrow__buy p {
    font-family: 'Mont-Bold';
  }
  
  button {
    outline: none;
  }

  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    padding: 5px 10px 10px 35px;
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 135.3%;
    letter-spacing: -0.03em;
    color: #000000;
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #03002B;;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  /* <-------ANIMATION-------> */
  
  .btn__primary--fix:hover {
    background-color: #b38a58;
    transition: all 0.2s ease-in-out;
    border: 2px solid #b38a58;
  }
  .btn__primary:hover {
    background-color: #b38a58;
    transition: all 0.2s ease-in-out;
    border: 2px solid #b38a58;
  }
  .btn__secundary--buy:hover {
    background-color: #b38a58;
    color: #ffffff;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
  }
  /* <-------ANIMATION-------> */
  /* <-------BUTTON-------> */